.DeseaseListLine {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 7px;
  border: 1px solid #363636;
  background-color: #222;
  box-sizing: border-box;
}