.list {
  width: 100%;

  &_table { 
  height: 40vh;
  padding-right: 15px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
.list { 
    &_table {
      height: 270px;
    }
  }
}

@media (max-width: 768px) {
  .list { 
      &_table {
        height: 270px;
      }
    }
  }