.App {
  $color-red: #e60000;
  $color-green: #70a800;

  text-align: center;  
  &-main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: calc(100vh - 55px);
  }
  &-left, &-center, &-right {
    height: 100%;
  }
  &-left, &-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &-left {
    width: 15%;
  }
  &-right {
    width: 30%;
  }
  &-center {
    width: 53%;
  }
  &_caption {
    text-align: center
  }
  &_caption_title {
    font-size: 14px;
  }
  &_caption_quantity {
    font-size: 20px;
  }
  &_caption_quantity__red {
    font-size: 20px;
    color: $color-red;
  }
  &_caption_quantity__green {
    font-size: 20px;
    color: $color-green;
  }
}