.ChartBlock {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 7px;
  border: 1px solid #363636;
  background-color: #222;
  box-sizing: border-box;
}