.mapblock {
  width: 100%;
  height: calc(100% - 3px);
  border: 1px solid #363636;
  background-color: #222;
  box-sizing: border-box;
  text-align: center;
  &_popup {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

